<div class="container-xxl py-5">
    <div class="container">
        <h2 class="section-title text-center text-primary text-uppercase">Bookings List</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Check-in Date</th>
                    <th>Check-out Date</th>
                    <th>Adults</th>
                    <th>Children</th>
                    <th>Special Requests</th>
                    <th>Actions</th> <!-- Add a new column for actions -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let booking of bookings">
                    <td>{{ booking.name }}</td>
                    <td>{{ booking.email }}</td>
                    <td>{{ booking.checkInDate | date: 'shortDate' }}</td>
                    <td>{{ booking.checkOutDate | date: 'shortDate' }}</td>
                    <td>{{ booking.adults }}</td>
                    <td>{{ booking.children }}</td>
                    <td>{{ booking.specialRequests }}</td>
                    <td>
                        <!-- Add a delete button and bind the click event -->
                        <button class="btn btn-danger btn-sm" (click)="deleteBooking(booking._id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
